src/main/resources/wsdl/SrvSipsaUpraBeanService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://servicios.sipsa.co.gov.dane/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.sipsa.co.gov.dane/" name="SrvSipsaUpraBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.sipsa.co.gov.dane/" schemaLocation="SrvSipsaUpraBeanService.xsd"/>
</xsd:schema>
</types>
<message name="consultarInsumosSipsaMesMadr">
<part name="parameters" element="tns:consultarInsumosSipsaMesMadr"/>
</message>
<message name="consultarInsumosSipsaMesMadrResponse">
<part name="parameters" element="tns:consultarInsumosSipsaMesMadrResponse"/>
</message>
<message name="promedioAbasSipsaMesMadr">
<part name="parameters" element="tns:promedioAbasSipsaMesMadr"/>
</message>
<message name="promedioAbasSipsaMesMadrResponse">
<part name="parameters" element="tns:promedioAbasSipsaMesMadrResponse"/>
</message>
<message name="promediosSipsaCiudad">
<part name="parameters" element="tns:promediosSipsaCiudad"/>
</message>
<message name="promediosSipsaCiudadResponse">
<part name="parameters" element="tns:promediosSipsaCiudadResponse"/>
</message>
<message name="promediosSipsaMesMadr">
<part name="parameters" element="tns:promediosSipsaMesMadr"/>
</message>
<message name="promediosSipsaMesMadrResponse">
<part name="parameters" element="tns:promediosSipsaMesMadrResponse"/>
</message>
<message name="promediosSipsaParcial">
<part name="parameters" element="tns:promediosSipsaParcial"/>
</message>
<message name="promediosSipsaParcialResponse">
<part name="parameters" element="tns:promediosSipsaParcialResponse"/>
</message>
<message name="promediosSipsaSemanaMadr">
<part name="parameters" element="tns:promediosSipsaSemanaMadr"/>
</message>
<message name="promediosSipsaSemanaMadrResponse">
<part name="parameters" element="tns:promediosSipsaSemanaMadrResponse"/>
</message>
<portType name="SrvSipsaUpraService">
<operation name="consultarInsumosSipsaMesMadr">
<input message="tns:consultarInsumosSipsaMesMadr"/>
<output message="tns:consultarInsumosSipsaMesMadrResponse"/>
</operation>
<operation name="promedioAbasSipsaMesMadr">
<input message="tns:promedioAbasSipsaMesMadr"/>
<output message="tns:promedioAbasSipsaMesMadrResponse"/>
</operation>
<operation name="promediosSipsaCiudad">
<input message="tns:promediosSipsaCiudad"/>
<output message="tns:promediosSipsaCiudadResponse"/>
</operation>
<operation name="promediosSipsaMesMadr">
<input message="tns:promediosSipsaMesMadr"/>
<output message="tns:promediosSipsaMesMadrResponse"/>
</operation>
<operation name="promediosSipsaParcial">
<input message="tns:promediosSipsaParcial"/>
<output message="tns:promediosSipsaParcialResponse"/>
</operation>
<operation name="promediosSipsaSemanaMadr">
<input message="tns:promediosSipsaSemanaMadr"/>
<output message="tns:promediosSipsaSemanaMadrResponse"/>
</operation>
</portType>
<binding name="SrvSipsaUpraPortBinding" type="tns:SrvSipsaUpraService">
<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
<operation name="consultarInsumosSipsaMesMadr">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="promedioAbasSipsaMesMadr">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="promediosSipsaCiudad">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="promediosSipsaMesMadr">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="promediosSipsaParcial">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="promediosSipsaSemanaMadr">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
</binding>
<service name="SrvSipsaUpraBeanService">
<port name="SrvSipsaUpraPort" binding="tns:SrvSipsaUpraPortBinding">
<soap12:address location="http://appweb.dane.gov.co:80/sipsaWS/SrvSipsaUpraBeanService"/>
</port>
</service>
</definitions>